#tsClimateIcon {
  background-image: url("../../../dist/assets/weather.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsIndoorsIcon {
  background-image: url("../../../dist/assets/home.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsOutdoorsIcon {
  background-image: url("../../../dist/assets/climate.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsLockedIcon {
  background-image: url("../../../dist/assets/lock.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsAccessIcon {
  background-image: url("../../../dist/assets/ease.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsDurationIcon {
  background-image: url("../../../dist/assets/duration.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsSizeIcon {
  background-image: url("../../../dist/assets/dimension.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#tsSharedIcon {
  background-image: url("../../../dist/assets/shared.png");
  height: 2.5vh;
  width: 2.5vw;
  margin-right: 1rem;
  margin-bottom: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}

#listingImageContainer {
  margin-bottom: 4rem;
}

#listingPriceHeader {
  font-size: 1.5rem;
  color: #37a321fb;
  margin-right: .2rem;
}

#listingDescriptionText {
  margin-right: 5rem;
  overflow: scroll;
  height: 55vh;
  width: 25vw;
}

.listingDivider {
  width: 2px;
  height: 100%;
  border-left: 1px solid #353b40;
}

.listingPictureContainer:hover .listingPicture {
  transform: scale(1.25);
  cursor: pointer;
}

.listingPictureContainer {
  overflow: hidden;
  border-bottom: 1px solid #353b40;
  padding: 0;
  height: 275px;
}

.listingPictureContainer .listingPicture {
  transition: transform 0.25s ease;
}

.listingPicture {
  width: 100%;
  height: 100%;
}

.imageSpacerLeft {
  background-image: linear-gradient(to right, #8661c1, #be97c6);
  width: 100%;
  height: 100%;
  padding: 0;
}

.imageSpacerRight {
  background-image: linear-gradient(to left, #8661c1, #be97c6);
  width: 100%;
  height: 100%;
  padding: 0;
}

.tsListingBulletOverride {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

#tsListingBulletHeaderOverride {
  margin-top: 0 !important;
  margin-bottom: 2rem !important;
}

#tsListingTooltipContainer {
  display: flex;
}

#tsListingTooltipContainer .tsTooltipIcon {
  height: 1rem;
  width: 1rem;
  margin-left: 1rem;
}

#listingPriceContainer {
  text-align: center;
  font-size: .8rem;
  width: 8.5rem;
  background-color: aliceblue;
  border-radius: .4rem;
  padding: .2rem .3rem;
  font-weight: bold;
  color: #635858;
  float: right;
}

#listingZipCode {
  font-size: .9rem;
  font-style: italic;
  color: grey;
}

.tsBulletText {
  font-size: .9rem;
}

#listingPopover {
  width: 43vw;
  max-width: 90vw;
}

#listingPopover :not(#listingPopoverTitle) {
  padding: .8rem;
}

#listingPopover > * {
  margin: 0 !important;
}

.listingPopoverSubcontainer {
  display: flex;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
