.it-section-1 {
  background: linear-gradient(#f882bd, #be97c6);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.it-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.it-cta-text {
  width: 450px;
  margin: 150px 0 50px 0;
}

.it-cta-text h1 {
  font-size: 46px;
}

.it-cta-form {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.it-search-input {
  width: 350px;
  margin-bottom: 10px;
}

.it-btn {
  width: 200px;
  margin-bottom: 10px;
}

.it-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.it-cta-image {
  width: 600px;
}

.it-section-2 {
  width: 100%;
  height: 100vh;
  background: #caff99;
}

.it-section-3 {
  width: 100%;
  height: 100vh;
  background: tomato;
}
