.it-section {
  background: linear-gradient(#f882bd, #be97c6);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.it-container {
  display: flex;
  flex-direction: column;
  height: 70%;
}

.it-cta-text {
  width: 450px;
  margin: 60px 0 30px 0;
}

.it-cta-text h1 {
  font-size: 46px;
}

.it-cta-form {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: linear-gradient(#f6dae8, #be97c6, #f6dae8);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.it-search-input {
  width: 200px;
  margin-bottom: 10px;
}

.it-btn {
  width: 200px;
  margin-bottom: 10px;
}

.it-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.it-cta-image {
  width: 550px;
}

h2 {
  font-size: 20px;
}
