.active-filters {
  min-height: 7rem;
}

.results {
  margin-top: 1rem;
  margin-bottom: 0;
}

.results-label {
  margin-top: .5rem;
}

.flex-centered {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 13rem;
  padding-top: 4rem;
}

.flex-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.filter-section-title {
  font-weight: bold;
  margin-bottom: 0;
}

.results-thumbnail-title {
  margin-top: .2rem;
  margin-bottom: 0;
}

.results-thumbnail-price {
  z-index: 2;
  font-size: .9rem;
  font-weight: normal;
  margin-bottom: .5rem;
}

.results-full-listing {
  z-index: 1;
  position: absolute;
  top: 20.5rem;
  left: 1rem;
}

.results-thumbnail-description {
  position: absolute;
  left: 1rem;
  top: 18rem;
}

.results-thumbnail-description::before {
  content:'';
  width:100%;
  height:100%;    
  position:absolute;
  left:0;
  top:0;
  background:linear-gradient(transparent 60%, white);
  pointer-events: none;
  z-index: 0;
}

#filters-display-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

#results-current-zip {
  font-size: 2rem;
  font-weight: bold;
  color: #be97c6;
}

#results-zip-change {
  background-color: #be97c6;
  border-color: #be97c6;
}

#results-zip-change:hover {
  background-color: #97849b;
}

#results-zip-change:active {
  background-color: #97849b;
  outline: violet;
}

.filter-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.pricefilter-header {
  margin: 0;
  margin-top: 1rem;
}

.pricefilter-prices {
  font-weight: bold;
}

.price-slider {
  display: block;
  width: 10rem;
  background: transparent;
}

#price-filter-container {
  margin: 1rem auto;
  margin-top: .5rem;
}

.thumbnail-button {
  position: absolute;
  left: 1rem;
  top: 23.3rem;
}

.thumbnail-no-image {
  height: 12rem;
  color: gray;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
}

.no-listings {
  display: flex;
  justify-content: flex-start;
  background-color: #be97c6;
  font-weight: bold;
}

#current-zip-container {
  padding: .5rem 1rem;
  border: 1px solid #be97c6;
  border-radius: .5rem;
  background-color: aliceblue;
  margin: .5rem 0;
}
