span, h4 {
  margin-bottom: 0;
}

label {
  margin-top: .5rem;
}

.flex-centered {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}

.price-slider {
  display: block;
}

#filters-display-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

#price-filter-container {
  margin: 1rem auto;
}